{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Créer une catégorie
{% endblock %}
{% block main %}
<div class="padding-admin">
    {{ include('admin/forum/prefixe/_form.html.twig', {form: form}) }}
    {% endblock %}
    {% block content_footer %}
    <div class="text-center btn-container float-right">
        <a href="{{ path('admin.prefixes') }}" class="btn mr-2"><i class="fa fa-fw fa-sign-out"></i></a>
        <button class="btn btn-primary">{{ button|default('Sauvegarder les modifications')}}</button>
    </div>
    <div class="clearfix"></div>
    {{ form_end(form) }}
</div>
{% endblock %}
