<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Veuillez confirmer la suppression ?</div>
        </div>
        <div class="modal-footer">
        <form method="post" action="{{ path(route, {id: signal})}}">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ signal) }}">
            <button class="btn btn-danger">Supprimer</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Non</button>
        </div>
    </div>
</div>
