{% extends 'layout.html.twig' %}

{% block title %} Home {{ parent() }}{% endblock %}

{% block body %}

<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
	</ol>

    <div class="row">
        <div class="col-sm-12">
            home
        </div>
    </div>
</div>
{% endblock %}
