{% extends 'layout.html.twig' %}

{% block title %} Politique de confidentialité {{ parent() }}{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
</ol>
<div id="content-section">
</div>
{% endblock %}
