{% extends 'admin/layout.html.twig' %}

{% block title %} Dashboard {{ parent() }}{% endblock %}

{% block titrePage %}Dashboard{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Dashboard</li>
{% endblock %}

{% block body %}

{% endblock %}
