{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    {{ nom }}
{% endblock %}

{% block main %}
<form action="{% if app.request.get('_route') == 'admin.pages.rules' %}{{ path("admin.pages.rules") }}{% else %}{{ path("admin.pages.cookies") }}{% endif %}" method="post">
    <div class="form-group">
        <textarea class="form-control" name="tMessage" rows="15" id="comment">{{ fichier }}</textarea>
    </div>
    <div class="text-center btn-container">
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-save" aria-hidden="true"></i> Sauvegarder
        </button>
    </div>
</form>
{% endblock %}
