.bgChatMessage {
    background: rgb(234,233,232) url('../images/fond1.png') repeat top;
    box-shadow: inset 0px 0px 9px black;
    padding: 12px;
    height: 325px;
    overflow: auto;
    width: 100%;
}

body {
	background-color: transparent;
	color: #333;
	padding: 0px;
	overflow: hidden;
}

html {
    width: 100%;

}

.cursor-pointer{
  cursor: pointer;
}

.titleChatbox {
    text-align: center;
    background: rgba(34, 49, 63, 0.9);
    padding: 9px;
    color: white;
    box-shadow: 0px 3px 0px rgb(50,108,149), inset 0px 3px 5px black;
    text-shadow: 1px 1px 0px black;
 }

.btnChat {
    height: 34px;
    float:right;
}

.faChatBox {
	display: inline;
	font-size: 16px;
	padding: 3px 9px;
	color: black;
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
	background: rgb(234,233,232);
	margin-right: 3px;
}

.modalChatbox {
    background: rgb(34, 49, 63) url('../images/bg9.png');
    color: #c8c8c8;
    text-shadow: 1px 1px 0px black;
}

.modal-header {
border-bottom: none;
}

.spacer .mask::after {
    content: "";
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0px 0px 8px black;
}
.spacer .mask {
    overflow: hidden;
    height: 20px;
}
.spacer {
    text-align: center;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.chatboxH4 {
    color:red;
    text-align: center;
}

.chatboxClose:hover, .chatboxClose:focus  {
    color:red;
}

.chatboxClose {
    color: #757575;
    text-shadow: 1px 1px 0px black;
    opacity: 0.9;
}


.smileyCust {
    right:0px;
    left: auto;
    padding: 9px;
    box-shadow: inset 0px 0px 0px 1px black, 0px 5px 10px rgba(0,0,0,0.4);
    min-width: 260px;
}

.smileyCust span {
    padding: 3px;
}

.chatDateCust {
    font-size: 11px;
}
.chatpseudMessag {
    font-size: 12px;
}

.titleDelet {
    background: none;
    border: none;
    padding:9px;
    color: #757575;
}

.titleDelet:hover {
    color: black;
}

.col-md-11 {
	padding-right: 0px!important;
}

.wbb-list .sc {
	width: 32px;
	height: 32px;
	margin: 0 0 1px 1px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	cursor: pointer;
	border: 1px solid #fff;
}
.wbb-list .pl {
	display: block;
	height: 5px;
}
.wbb-list {
	position: absolute;
	top: 32px;
	left: -1px;
	border: 1px solid #bbb;
	box-shadow: 0px 0px 3px #aaa;
	background: #fff;
	max-height: 220px;
	overflow: auto;
	z-index: 1000;
    right:0px;
    left: auto;
    padding: 9px;
    box-shadow: inset 0px 0px 0px 1px black, 0px 5px 10px rgba(0,0,0,0.4);
    width: 280px;
}
