.bgChatMessage {
    background: rgb(231, 231, 231);
    box-shadow: inset 0px 0px 9px black;
    padding: 12px;
    height: 400px;
    overflow: auto;
    width: 100%;
    color: #333;
}

.cursor-pointer{
  cursor: pointer;
}

.titleChatbox {
    text-align: center;
    background: rgba(34, 49, 63, 0.9);
    padding: 9px;
    color: white;
    box-shadow: 0px 3px 0px rgb(50,108,149), inset 0px 3px 5px black;
    text-shadow: 1px 1px 0px black;
 }

.btnChat {
    height: 34px;
    float:right;
}

.faChatBox {
	display: inline;
	font-size: 16px;
	padding: 3px 9px;
	color: black;
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
	background: rgb(234,233,232);
	margin-right: 3px;
}

.modalChatbox {
    background: rgb(34, 49, 63) url('../images/bg9.png');
    color: #c8c8c8;
    text-shadow: 1px 1px 0px black;
}

.modal-header {
border-bottom: none;
}

.spacer .mask::after {
    content: "";
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0px 0px 8px black;
}
.spacer .mask {
    overflow: hidden;
    height: 20px;
}
.spacer {
    text-align: center;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.chatboxH4 {
    color:red;
    text-align: center;
}

.chatboxClose:hover, .chatboxClose:focus  {
    color:red;
}

.chatboxClose {
    color: #757575;
    text-shadow: 1px 1px 0px black;
    opacity: 0.9;
}


.smileyCust {
    right:0px;
    left: auto;
    padding: 9px;
    box-shadow: inset 0px 0px 0px 1px black, 0px 5px 10px rgba(0,0,0,0.4);
    min-width: 260px;
}

.smileyCust span {
    padding: 3px;
}

.chatDateCust {
    font-size: 11px;
}
.chatpseudMessag {
    font-size: 12px;
}

.titleDelet {
    background: none;
    border: none;
    padding:9px;
    color: #757575;
}

.titleDelet:hover {
    color: black;
}

#chatbox .col-md-11 {
	padding-right: 0px!important;
}


#chatbox .wysibb {
    width: 95%;
	height: auto;
}
#chatbox .wysibb-text-editor.wysibb-body {
	min-height: 20px!important;
	max-height: 40px!important;
    margin: 10px 0px 10px 10px;
}
#chatbox .wysibb .wysibb-text {
	padding: 0px!important;
}
@media (max-width: 992px) {
    .wbb-list .sc {
    	width: 16px!important;
    	height: 16px!important;
    	margin: 0 0 1px 1px!important;
    	display: inline-block!important;
    	zoom: 1!important;
    	cursor: pointer!important;
    	border: 1px solid #fff!important;
    }
    .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .wbb-list {
    	top: 55%!important;
    }
    .wysibb .wysibb-toolbar {
    	float: none!important;
    	width: 100%!important;
    	overflow-y: auto!important;
    	overflow-x: hidden!important;
    	border-bottom: 1px solid #ddd!important;
        max-height: 33px!important;
    }
    .wysibb-toolbar-container {
        width: 100%!important;
    }
    .wysibb .wysibb-text {
        margin: 0px!important;
    }
    .wysibb-text-editor.wysibb-body {
        margin: 10px 0px 10px 10px;
    }
    #chatbox .wysibb .wysibb-toolbar {
    	float: none;
    	width: 100%;
    	overflow-y: auto;
    	overflow-x: hidden;
    	display: inline-flex;
    	border-bottom: 1px solid #ddd;
        max-height: 33px!important;
    }
    #chatbox .wysibb {
        width: 100%;
        border: none;
    }
    #chatbox .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn, #chatbox .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select {
    	width: 28px;
    	max-width: 100%!important;
    }
    #chatbox .wysibb-toolbar-container {
        width: 100%!important;
    }
    #chatbox .wysibb-toolbar-container.modeSwitch {
    	width: auto!important;
    	text-align: right;
    }
    #chatbox .wysibb-toolbar-btn.mswitch {
        width: 100%!important;
    }
    #chatbox .wysibb .wysibb-toolbar .wysibb-toolbar-container.modeSwitch {
    	border-right: none;
    }
    #chatbox .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-inner {
    	min-width: auto;
    }

    #chatbox .wysibb .wysibb-text {
        margin: 0px!important;
        width: 90%;
    }
    #chatbox #envoi {
    	position: absolute;
    	bottom: 0px;
    	right: 0px;
    	height: 41px;
    }
    #chatbox .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .wbb-list {
    	position: absolute!important;
    	top: 32px!important;
    	left: -1px!important;
    	max-height: 220px!important;
    }
}
