.sidebar-content {
    border-top: solid #d4423e;
}
.sidebar-title {
    background: #d4423e;
}
.categTitle {
    background-color: #d4423e;
    border-bottom: 2px solid #d4423e;
}
.navbar {
    background: #d4423e;
}
a:hover {
    color: red;
}
a {
    color: #d4423e;
}
.nodeCol1 i {
    color: #d4423e;
}
footer {
    background: #d4423e;
}
#content-section, .content-section {
    border-top: solid #d4423e;
}
.nodeLigne {
    border-bottom: 2px solid #d4423e;
}
header {
    background-color: #d4423e;
}
