{% extends 'layout.html.twig' %}

{% block title %} Signalement {{ parent() }}{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('/') }}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Signalement</li>
</ol>

<h1 class="p-title-value text-center">Signalement</h1>

<div class="content-section no-padding">

</div>
{% endblock %}
