<h1>LMoury</h1>
<p>voici le lien pour generer un nouveau mot de passe</p>
<a href="{{ path('lost.password.new', {membre: user.id, key: user.lostPasswordKey})}}">{{ path('lost.password.new', {membre: user.id, key: user.lostPasswordKey})}}</a>
