<div class="sidebar-content">
    <div class="sidebar-title">
        <span class="fa fa-users"></span>
        <span class="">Membres récemment inscrits</span>
    </div>
    <div class="sidebar-body center">
        {% for lastUser in lastUsers %}
            <div class="visitor-avatar">
                <a href="{{ path('membres.profil', {id: lastUser.id, slug: lastUser.slug})}}">
                    <img alt="" title="{{ lastUser.username }}" src="{{ vich_uploader_asset( lastUser, 'imageFile') }}" width="38" height="38">
                </a>
            </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>
