<div class="sidebar-content">
    <div class="sidebar-title">
        <span class="fa fa-birthday-cake"></span>
        <span class="">Anniversaires du jour</span>
    </div>
    <div class="sidebar-body center">
        {% for birthdayUser in birthday if birthdayUser.dateNaissance|date("m/d") == "now"|date("m/d") %}
            <div class="visitor-avatar">
                <a href="{{ path('membres.profil', {id: birthdayUser.id, slug: birthdayUser.slug})}}">
                    <img alt="" title="{{ birthdayUser.username }}" src="{{ vich_uploader_asset( birthdayUser, 'imageFile') }}" width="38" height="38">
                </a>
            </div>
            {% else %}
            <div class="">Aucun anniversaire aujourd'hui</div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>
