<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}| Lmoury{% endblock %}</title>
        {% block stylesheets %}
            <!-- css -->
            <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/username.css">
            <link rel="stylesheet" type="text/css" href="/assets/plugins/wow/css/animate.css">
            <!-- Font -->
            <link rel="stylesheet" type="text/css" media="all" href="/assets/css/font-awesome.css"/>
        {% endblock %}
    </head>
    <body>

        {{ include("inc/header.html.twig") }}
        {{ include("inc/navbar.html.twig") }}

        <div class="container" id="container">
            {{ render(controller("App\\Controller\\LayoutController:notice")) }}
            {% block body %}{% endblock %}
        </div>
        {{ include("inc/footer.html.twig") }}

        {% block javascripts %}
            <!-- javascript -->
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/popper.min.js"></script>
            <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="/assets/js/extra.js"></script>
            <script src="/assets/plugins/wow/js/wow.min.js"></script>
            <script>
                new WOW().init();
            </script>
       {% endblock %}

    </body>
</html>
