<footer>
	<div class="float-md-left">
		<strong>Copyright © <a href="https://lmoury.com/">LMoury.com</a></strong> | Tous droits réservés.
		<b class="mr-1">Version</b> 1.1
	</div>
	<div class="float-md-right">
		<span class="mr-1 footer-regle"><a href="{{ path('contact') }}">Nous contacter</a></span>
		<span class="mr-1 footer-regle"><a href="{{ path('rules') }}">Conditions et règles</a></span>
		<span class="mr-1 footer-regle"><a href="{{ path('cookies') }}">Utilisation des cookies</a></span>
	</div>
	<div class="clearfix"></div>
</footer>
<a id="lm_btn-Retour"><i class="fa fa-chevron-up"></i></a>
