<footer>
	<div class="d-flex">
		<div class="p-2 flex-fill">
			<span class="mr-1 footer-regle"><a href="{{ path('contact') }}">Nous contacter</a></span>
			<span class="mr-1 footer-regle"><a href="{{ path('rules') }}">Conditions et règles</a></span>
			<span class="footer-regle"><a href="{{ path('cookies') }}">Utilisation des cookies</a></span>
		</div>
		<div class="p-2 flex-fill"><strong>Copyright © <a href="https://lmoury.com/">LMoury.com</a></strong> | Tous droits réservés.</div>
		<div class="p-2 flex-fill"><b>Version</b> 1.1</div>
	</div>
</footer>
<a id="lm_btn-Retour"><i class="fa fa-chevron-up"></i></a>
