<div class="aro-pswd_info">
    <div id="pswd_info" style="display: none;">
        <h4>Pour un mot de passe sécurisé veuillez avoir :</h4>
        <ul>
            <li class="invalid" id="letter">Au moins <strong>une lettre</strong></li>
            <li class="invalid" id="capital">Au moins <strong>une lettre majuscule</strong></li>
            <li class="invalid" id="number">Au moins <strong>un chiffre</strong></li>
            <li class="invalid" id="length">Au moins <strong>8 caractère</strong></li>
            <li class="invalid" id="space">Au moins<strong> un caractère spécial</strong></li>
        </ul>
    </div>
</div>
