{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Liste des forums
{% endblock %}
{% block main %}
<div>
    <table class="table">
    {% for categ in categories if categ.parent == null %}
    <tr>
        <td>
            <span><i class="fa fa-list mr-4"></i><a href="{{ path('admin.categorie.editer', {id: categ.id, slug: categ.slug})}}"><strong>{{ categ.categorie }}</strong> <span class="dataList-hint">Catégorie</span></a></span>
        </td>
    </tr>
        {% for sousCateg in categories if sousCateg.parent == categ.id %}
        <tr>
            <td>
                <span><i class="fa fa-comments mr-5"></i><a href="{{ path('admin.categorie.editer', {id: sousCateg.id, slug: sousCateg.slug})}}"><strong>{{ sousCateg.categorie }}</strong> <span class="dataList-hint">Forum</span></a></span>
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
</div>
{% endblock %}
