{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Créer une catégorie
{% endblock %}
{% block main %}
<div class="padding-admin">
    {{ include('admin/forum/categorie/_form.html.twig', {form: form}) }}
    {% endblock %}
    {% block content_footer %}
    <div class="text-center btn-container float-right">
        <button class="btn mr-2">Retour à la liste</button>
        <button class="btn btn-primary">{{ button|default('Sauvegarder les modifications')}}</button>
    </div>
    <div class="clearfix"></div>
    {{ form_end(form) }}
</div>
{% endblock %}
